<section>
  <h2>{{header}}</h2>
  <ul>
    <li *ngFor="let task of taskList$ | async">
      <div *ngIf="task.done; then optionsDone; else optionsCreated"></div>
      <ng-template #optionsDone>
        <p>{{ task.title }}</p>
        <p>Done: {{ task.doneDate | date: "MMM d, y, h:mm:ss a" }}</p>
      </ng-template>
      <ng-template #optionsCreated>
        <div>
          <p>{{ task.title }}</p>
          <button id="remove" (click)="remove(task.id)">&#10005;</button>
          <button id="done" (click)="done(task.id)">&#x2713;</button>
        </div>
        <p>Created: {{ task.createDate | date: "MMM d, y, h:mm:ss a" }}</p>
      </ng-template>
    </li>
  </ul>
</section>
