input, button {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    border-radius: 2px;
}

input {
    width: 300px;
    border: 1px solid white;
    color: grey;
}

button {
    margin-left: 5px;
    border: 1px solid #8cc751;
    background-color: #8cc751;
    color: white;
    cursor: pointer;
}