#error {
    position: absolute;
    left: 0;
    right: 0px;
    top: 60px;
    background-color: rgba(255, 0, 0, 0.98);
    color: white;
    padding: 5px 15px;
    border: none;
}

input {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 1em;
}

input[type="text"] {
    background-color: lightgray;
    color: grey;
}

input[type="submit"] {
    background-color: grey;
    color: white;
    cursor: pointer;
}