/* all devices */
input {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 1em;
}

input[type="text"] {
    background-color: #443c80;
    color: white;
}

input[type="text"]::placeholder { color: lightgray; }

input[type="submit"] {
    background-color: #6b5ece;
    color: white;
    cursor: pointer;
}
