/* all devices */
section {
    display: flex;
    padding: 0px 10px;
}

app-todo-list { flex: 1; }

/* desktop device */
@media screen and (min-width: 1024px) {
    section {
        margin: auto;
        width: 960px;
    }
}
